# A practical analytical project from Quantum

## Overview

This project analyzes a customer transaction dataset and identifies customer purchasing behavior patterns to generate valuable insights and information.

#### Context

You are part of Quantium’s retail analytics team and have been approached by your client, the Category Manager for chips, who wants to better understand the types of customers who purchase chips and their purchasing behaviour within the region.

The insights from your analysis will feed into the supermarket’s strategic plan for the chip category in the next half year.

## Project Goals

Here are the main ponts of this project:
- examine and clean transaction and customer data.
- identify customer segments based on purchasing behavior.
- creating charts and graphs to present data insights.
- deriving commercial recommendations from data analysis.

## Actions

- Analyze transaction and customer data. 
- Develop metrics and examine sales drivers.
- Segment customers based on purchasing behavior.
- Create visualizations.
- Formulate a clear recommendation for the client's strategy.

## Data

There are two datasets provided for this project:
1. `QVI_transaction_data.xlsx` - This dataset contains customer transaction data, including....
2. `QVI_purchase_behaviour.csv`

## Analysis

1. Examine transaction data
1. Examine customer data
1. Data analysis and customer segments
1. Define recommendation by customer segments

## Data preparation and customer analytics

In [6]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# setting options
pd.set_option('display.max_columns', None)
pd.set_option("display.float_format", "{:.2f}".format)
pd.set_option('max_colwidth', 0)

In [7]:
# load the datasets

transactions = pd.read_excel('QVI_transaction_data.xlsx')
purchase_behaviour = pd.read_csv('QVI_purchase_behaviour.csv')

In [8]:
transactions.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.00
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.30
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.90
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.00
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.80

In [9]:
purchase_behaviour.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0  1000            YOUNG SINGLES/COUPLES   Premium
1  1002            YOUNG SINGLES/COUPLES   Mainstream
2  1003            YOUNG FAMILIES          Budget
3  1004            OLDER SINGLES/COUPLES   Mainstream
4  1005            MIDAGE SINGLES/COUPLES  Mainstream